.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 40px;
}

td.vertex {
	background-color: purple;
	height: 10px;
	width: 10px;
}

td.cell {
	background-color: white;
	width: 50px;
	height: 50px;
}

td.filledLine, td.vline:hover, td.hline:hover {
	background-color: purple;
}